.spacer {
  flex: 1 1 auto;
}

.content-center {
  display: flex;
  justify-content: center;
}

.nav-toolbar {
  background-color: #e91e63;
  font-family: Cinzel;
  font-weight: bold;
  color: #444;;
}

.nav-toolbar > a:hover {
  background-color: rgba(0, 0, 0, 0.300);
  color: white;
}
