// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$academy-website-accent: mat.define-palette(mat.$blue-grey-palette);
$academy-website-primary: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$academy-website-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$academy-website-theme: mat.define-light-theme(
  (
    color: (
      primary: $academy-website-primary,
      accent: $academy-website-accent,
      warn: $academy-website-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($academy-website-theme);

/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: rgb(255, 255, 255);
  font-family: Cinzel;
  font-size: 300%;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 20px black;
}
h2,
h3 {
  color: #444;
  font-family: Cinzel;
  font-weight: bold;
  font-size: 170%;
  margin: 0;
  padding: 0;
}
body {
  margin: 2em;
  background-color: #444;
}
body,
input[type="text"],
button {
  color: #444;;
  font-family: Cinzel;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Cinzel;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Cinzel;
}

a {
  text-decoration: none;
}

a:hover {
  color: #444;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf');
}

// @font-face {
//   font-family: 'Cinzel-Black';
//   src: url('/assets/Cinzel-Black.ttf');
// }

// @font-face {
//   font-family: 'Cinzel-Regular';
//   font-style: normal;
//   font-weight: normal;
//   src: local('Cinzel-Regular'), url('/assets/Cinzel-Regular.woff') format('woff');
//   }